
.eyeicon {
  position: relative;
}
.eyeicon .eyeicon-align {
  position: absolute;
  top: 14px;
  right: 15px;
}
.verticalbar{
  position: relative;
}

@media (min-width:320px){
  .eyeicon .eyeicon-align {
  position: absolute;
  top: 10px;
  right: 15px;
}
}
@media (min-width:768px){
    .floatingimg {
  background-image: url("../assets/log-sign.png");
  background-repeat: no-repeat;
  background-position: 117% 100%;
  background-size: 300px 300px;
}

.verticalbar::before{
  content: " ";
  position: absolute;
  top: 121px;
  width: 1px;
  height: 80px;
  background: #faf1f1;
}
.floatingimg::before{
   content: " ";
  position: absolute;
  top: 396px;
  width: 40px;
  height: 1px;
  background: #faf1f1;
}
}
@media (min-width:1024px){
    .floatingimg {
  background-image: url("../assets/log-sign.png");
  background-repeat: no-repeat;
background-position: 100% 107%;
   background-size: 361px 340px;
}
 .eyeicon .eyeicon-align {
  top: 12px;
}
.verticalbar::before{
  top: 150px;
  height: 70px;
}
.floatingimg::before{
  top: 396px;
  width: 40px;
}
}
@media (min-width:1280px){
    .floatingimg {
  background-image: url("../assets/log-sign.png");
  background-repeat: no-repeat;
  background-position: 90% 100%;
   background-size: 452px 335px;
}
.eyeicon .eyeicon-align {
  top: 13px;
}
.verticalbar::before{
  top: 190px;
  height: 70px;
}
.floatingimg::before{
  top: 450px;
  width: 40px;
}
}
@media (min-width:1440px){
    .floatingimg {
  background-image: url("../assets/log-sign.png");
  background-repeat: no-repeat;
  background-position: 90% 100%;
   background-size: 462px 395px;
}
.eyeicon .eyeicon-align {
  top: 13px;
}
.verticalbar::before{
  top: 190px;
  height: 70px;
}
.floatingimg::before{
  top: 450px;
  width: 40px;
}
}