
.eyeicon {
  position: relative;
}
.eyeicon .eyeicon-align {
  position: absolute;
  top: 14px;
  right: 15px;
}
@media (min-width:768px){
    .floatingimg {
  background-image: url("../assets/log-sign.png");
  background-repeat: no-repeat;
  background-position: 117% 100%;
  background-size: 300px 300px;
}
.eyeicon .eyeicon-align {
  position: absolute;
  top: 10px;
  right: 15px;
}
}
@media (min-width:1024px){
    .floatingimg {
  background-image: url("../assets/log-sign.png");
  background-repeat: no-repeat;
background-position: 103% 107%;
   background-size: 400px 400px;
}
}
@media (min-width:1440px){
    .floatingimg {
  background-image: url("../assets/log-sign.png");
  background-repeat: no-repeat;
  background-position: 90% 100%;
   background-size: 400px 400px;

}
}